
body{
    background-color:whitesmoke ;
    color: rgb(226, 235, 247);
    
}
#home-bg-img{
    background-image: url("/images/home-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: 100% 100%;
    background-color: pink;
    padding-top: 1px;
    position: relative;
    bottom:100%;
    width: 100%;
    height: 100vh;
    font-size: larger;
    font-weight: bolder;
    color: rgb(212, 226, 245);
    text-align: center;

}

#intro{
    margin-top: 30%;
    animation: pop 0.9s ease-out;
    animation-delay: 0.5s;

}
@keyframes pop {
    50% {
        transform: scale(1.15);
    }
}
.para{
    
     transition: left 1s ease;
     animation: para 0.9s ease-out;
     animation-delay: 0.5s;

}
@keyframes para {
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }

h2{
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color: rgb(102, 104, 105);
    padding-top: 15%;
    padding-left: 2%;
    padding-right: 2%;
}


.myButton {
	background:linear-gradient(to bottom, #305a3b 5%, #bddfad 100%);
	background-color:#d1e7d7;
	border-radius:28px;
	border:1px solid #d6f7da;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:17px;
    margin-top: 10%;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #d7f3c8 5%, #c2f0ce 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.descrp p {
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
    color: rgb(102, 104, 105);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lnk{
    color: rgb(102, 104, 105);
    text-decoration: none;
     
}
.link:hover{
    color: rgb(154, 161, 163);
    text-decoration: none;
}


h5,h4{
    color: rgb(102, 104, 105);
    text-align: center;
    font-size: 2px;
}
#iframe{
    margin: 0 auto;
    margin-left: 18px;
}


img{
    width: 100%;
}
.myButton2 {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    padding:11px 23px;
    margin-left: 30%;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton2:active {
	position:relative;
	top:1px;
}
footer{
    position: relative;
    bottom: 0;
    height: 30%;
    width: 100%;
    padding: 20%;
    background-color: rgb(53, 51, 51);
}
footer p{
    margin-left: 18%;
}
#mailbox{
    padding: 10%;
    height: 50%;
    width: 100%;
    background-color: rgb(78, 76, 76);
}
#mailbox > img{
    width: 10%;
    border-radius: 50%; 
    margin-left: 45%;
}